{% extends "base.html" %}

{% block title %}{{ username }}{% endblock %}

{% block content %}
<link rel="stylesheet" href="{{url_for('static', filename='css/home.css')}}">
<div>
    <ul class="nav_bar">
        <li class="add_password">
            <a class="add" href="{{url_for('add_password', username=username, id=id)}}">Add new password</a>
        </li>
        <li class="modify_password">
            <a class="modify" href="{{url_for('modify_password', username=username)}}">Modify password</a>
        </li>
        <li class="delete_password">
            <a class="delete" href="{{url_for('delete_password', username=username)}}">Delete password</a>
        </li>
        <!--<li style="float: right">
            <a class="profile" href="#">Profile</a>
        </li>-->
        <li style="float:right">
            <a class="logout" href="{{ url_for('logout') }}">Log out</a>
        </li>
    </ul>
</div>
<div class="data_table">
    <table>
        <thead>
        <tr>
            <th>ID</th>
            <th>Site name</th>
            <th>Username</th>
            <th>Password</th>
        </tr>
        </thead>
        <tbody>
        {% for data in data%}
        <tr>
            <td>{{data.id}}</td>
            <td>{{data.site_name}}</td>
            <td>{{data.username}}</td>
            <td>**************</td>
        </tr>
        {%endfor%}
        </tbody>
    </table>
</div>
<div>

</div>
{% endblock %}