{% extends "base.html" %}

{% block title %} Registration {% endblock %}

{% block content %}
<link rel="stylesheet" href="{{url_for('static', filename='css/form.css')}}">
<div class="div_form">
    <form class="register_form" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{form.user_name.label}}<br>
            {{form.user_name(size=32)}}<br>
            {% for error in form.user_name.errors %}
            <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </p>
        <p>
            {{form.master_password.label}}<br>
            {{form.master_password(size=32)}}<br>
            {% for error in form.master_password.errors %}
            <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </p>
        <p>
            {{form.second_password.label}}<br>
            {{form.second_password(size=32)}}<br>
            {% for error in form.second_password.errors %}
            <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </p>
        <p>
            {{form.email.label}}<br>
            {{form.email(size=32)}}<br>
        </p>
        <p>{{ form.register() }}</p><br>
        <div>Back to <a href="{{ url_for('login') }}">login</a></div>
    </form>
</div>
{% endblock %}