table {
    border-collapse: collapse;
    border: 1px solid black;
    width: 100%;
}

th, td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

th {
    background: #ba68c8;
    border: 1px solid black;
}

.data_table {
    overflow-y: auto;
    margin-top: 20px;
    margin-left: 200px;
    margin-right: 200px;
    height: 200px;
}

.data_table thead th {
    position: sticky;
    top: 0;
}

.help_text{
    font-weight: bold;
}