form {
    margin: auto;
    padding: 50px;
    text-align: center;
    height: 100px;
}

input {
    margin-bottom: 20px;
    padding-bottom: 5px;
}

div {
    margin: auto;
    text-align: center;
}
