.login_form{
    margin: auto;
    padding: 80px;
    text-align: center;
    height: 150px;
}

input{
    margin-bottom: 20px;
    padding-bottom: 5px;
}

.log_in{
    padding: 5px;
    background-color: forestgreen;
}