.register_form {
    margin: auto;
    padding: 80px;
    text-align: center;
    height: 150px;
}

input {
    margin-bottom: 20px;
    padding-bottom: 5px;
}

div {
    margin: auto;
    text-align: center;
}